@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');




a{
    text-decoration: none;
    color: #fff;
}


body{
    margin: 0;
    background: #000;
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}


nav{
    height: 100vh;
    width: 10%;
    min-width: 200px;
    max-width: 300px;
    position: relative;
    z-index: 999;
}
.items{
    width: inherit; /* Inherits width from the parent (nav) */
    min-width: inherit; /* Inherits min-width from nav */
    max-width: inherit;

    position: fixed; /* Makes it stay in place while scrolling */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    margin: 0;
    height: 100%;
    /* border-right: white solid; */

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
}
.items a{
    margin: 10px 0px;
    transition: all 0.4s linear;
    height: 40px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.items a:first-child{
    margin-top: 200px;
}
.items a:hover{
    border: 1px solid grey;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 30px; */
    position: fixed;
    padding: 0px 30px;
    width: calc(100% - 60px);
    background-color: #000;
    border-radius: 0px 0px 10px 10px;
    z-index: 9999;
}
#icon{
    position: fixed;
    width: 25px;
    height: 25px;
    left: 150px;
    cursor: pointer;
}
header h1{
    font-size: 24px;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
header button{
    background: #D9D9D9;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 15px;
    outline: none;
    border: none;
    cursor: pointer;
}


main{
    width: calc(100% - 250px);
    margin: auto;
    margin-top: 50px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s linear;
}
main section{
    margin-bottom: 100px;
}
main section h2{
    text-decoration: underline;
}
main section img{
    width: 100%;
}
main section a{
    text-decoration: underline;
}


.container *{
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9D9D9;
    border-radius: 20px;
    color: black;
    font-weight: 1200;
    padding: 20px;
}

.searchBox{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.searchBox input{
    width: 80%;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #7D7D7D;
    color: white;
    padding: 8px;
}
.searchBox input::placeholder{
    color: white;
    opacity: 0.6;
}
.searchBox button{
    border-radius: 15px;
    outline: none;
    border: none;
    background: #404040;
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
}
.searchBox button:hover{
    background: white;
    color: black;
}
.searchBox button:active{
    scale: 0.9;
}


.projects{
    display: flex;
    padding: 20px 0px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.projects::-webkit-scrollbar{
    background: white;
    height: 8px;
    border-radius: 20px;
}
.projects::-webkit-scrollbar-thumb{
    background: #404040;
    border-radius: 20px;
}
.projects::-webkit-scrollbar-thumb:hover {
    background: #2f2f2f;
}
.projects .project{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}
.projects .project .imgContainer{
    height: 200px;
    width: 200px;
    background: #D9D9D9;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid white;
    overflow: hidden;
}
.projects .project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.newsnblogs{
    display: flex;
    flex-direction: column;
}
.newsnblogs .item{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    flex-wrap: wrap;
    text-wrap: wrap;
}
.newsnblogs .item .imgContainer2{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: #D9D9D9;
    border: 1px solid white;
    overflow: hidden;
}
.newsnblogs .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.newsnblogs .item .description{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}



footer{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    /* background: #D9D9D9; */
    /* color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
footer .bottom{
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footerContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
footer .content{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}




@media (max-width: 1000px){
    nav{
        position: absolute;
        width: 300px;
        display: none;
    }
    main{
        width: 90%;
    }
}